<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Note form</title>
</head>
<body>
<form th:object="${note}" th:action="@{/note/}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <h1 class="panel-title"><span th:text="*{id} != null ? 'Edit ' : 'New '+'note'"></span></h1>
    <br>
    <label>Name:
        <input type="text" class="form-control" th:field="*{name}"/>
    </label>
    <br>
    <label>Type:
        <select class="form-control" th:field="*{type}">
            <option th:each="type : ${types}" th:text="${type.toString()}" th:value="${type}"></option>
        </select>
    </label>
    <br>
    <label>Owner:
        <select class="form-control" th:field="*{ownerId}">
            <option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"></option>
        </select>
    </label>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>